<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="gradle.android.warming">

    <!--
    https://stackoverflow.com/questions/45940861/android-8-cleartext-http-traffic-not-permitted
    -->
    <application
        android:name=".App"
        android:label="GradleAndroidWarming"
        android:theme="@style/App.Theme"
        android:usesCleartextTraffic="true"
        tools:replace="android:label"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".MessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>
